



<footer>
    <div class="background2">
    <div class="footer-logo">
        <img src="images/CATCHYlogo.png">
    </div>
    <div class="footer">
        <ul>
            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/app.js"></script>
<script src="https://use.fontawesome.com/36f4323241.js"></script>
</body>

</html>